---
// import ThemeSwitch from "@components/ThemeSwitch.astro";
import ThemeSwitch from "@components/ThemeSwitch";
import { getUser } from "@lib/auth";
import { getProfileInfo } from "@lib/db";
import {
  Boxes,
  LayoutGrid,
  LogOut,
  MessageCircle,
  Package,
  Settings,
} from "lucide-astro";

const token = Astro.cookies.has("sbat")
  ? Astro.cookies.get("sbat").value
  : null;

let profile = null;

if (token) {
  const { id } = await getUser(token);
  const user = await getProfileInfo(id);

  profile = {
    id: user.id,
    username: user.username.toLowerCase(),
    full_name: user.full_name,
    status: user.status,
    initials: user.full_name
      .split(" ")
      .map((n) => n[0])
      .join("")
      .toLocaleLowerCase(),
  };
}

let activeJs = false;
if (profile) {
  activeJs = true;
}

let activePath = Astro.url.pathname;
---

{
  profile ? (
    <div class="drawer " id="drawer">
      <input type="checkbox" class="drawer-toggle" id="sidebar" />
      <div class="drawer-content flex flex-col transition-transform duration-300 ease-in-out">
        <main class="mx-auto w-4/5">
          <slot />
        </main>
      </div>
      <div class="drawer-side">
        <label
          for="sidebar"
          aria-label="close sidebar"
          class="drawer-overlay"
        />
        <ul class="menu min-h-full w-72 overflow-y-auto border-opacity-50 bg-base-200 p-4 font-sora text-base-content shadow-lg">
          <h2 class="menu-title flex items-center gap-4 px-1.5 font-syne text-lg ">
            General
          </h2>
          <div>
            <li class="group">
              <a
                href="/home"
                class={`${
                  activePath === "/home"
                    ? "btn btn-disabled disabled btn-primary btn-md btn-wide m-0 items-center justify-start"
                    : "btn btn-primary btn-md btn-wide m-0 items-center justify-start"
                }`}
              >
                <LayoutGrid
                  class={
                    activePath === "/home"
                      ? ""
                      : "transition-colors group-hover:stroke-primary"
                  }
                />
                <span
                  class={
                    activePath === "/home" ? "" : "group-hover:brightness-125"
                  }
                >
                  Inicio
                </span>
              </a>
            </li>
            <li class="group">
              <a
                href="/explorar"
                class={`${
                  activePath === "/explorar"
                    ? "btn btn-disabled disabled btn-primary btn-md btn-wide m-0 items-center justify-start"
                    : "btn btn-md btn-wide m-0 items-center justify-start"
                }`}
              >
                <Boxes
                  class="transition-colors group-hover:stroke-primary"
                  class={
                    activePath === "/explorar"
                      ? ""
                      : "transition-colors group-hover:stroke-primary"
                  }
                />
                <span
                  class={`${
                    activePath === "/explorar"
                      ? ""
                      : "group-hover:brightness-125"
                  }`}
                >
                  Explorar Intercambios
                </span>
              </a>
            </li>
            <li class="group">
              <a
                href={`/u/${profile.username}`}
                class={`${
                  activePath === `/u/${profile.username}`
                    ? "btn btn-disabled btn-primary btn-md btn-wide m-0 items-center justify-start"
                    : "btn btn-md btn-wide m-0 items-center justify-start"
                }`}
              >
                <Package
                  class={`${
                    activePath === `/u/${profile.username}`
                      ? ""
                      : "transition-colors group-hover:stroke-primary"
                  }`}
                />
                <span
                  class={`${
                    activePath === `/u/${profile.username}`
                      ? ""
                      : "group-hover:brightness-125"
                  }`}
                >
                  Mis Articulos
                </span>
              </a>
            </li>
            <li class="group">
              <a
                href="/chats"
                class={`${
                  activePath === "/chats"
                    ? "btn btn-disabled btn-primary btn-md btn-wide m-0 items-center justify-start"
                    : "btn btn-md btn-wide m-0 items-center justify-start"
                }`}
              >
                <MessageCircle
                  class={
                    activePath === "/chats"
                      ? ""
                      : "transition-colors group-hover:stroke-primary"
                  }
                />
                <span class="group-hover:brightness-125">Mensajes</span>
              </a>
            </li>
          </div>
          <div class="divider" />
          <h2 class="menu-title flex items-center gap-4 px-1.5 font-syne text-lg ">
            Cuenta
          </h2>
          <li>
            <a>
              <Settings className="font-normal" />
              Configuración
            </a>
          </li>
          <li>
            <a>
              <LogOut className="font-normal" />
              Cerrar Sesión
            </a>
          </li>
          <li>
            <ThemeSwitch client:load />
          </li>
          <div class="divider" />
          <div class="h-full">
            <li>
              <div class="avatar placeholder">
                <div class="flex h-10 w-10 items-center justify-center rounded-full  bg-primary">
                  <span class="text-sm">{profile.initials}</span>
                </div>
                <span>
                  <div class="flex flex-col">
                    <p class="capitalize text-current brightness-200">
                      {profile.full_name}
                    </p>
                    <p class="capitalize text-neutral">@{profile.username}</p>
                  </div>
                </span>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
  ) : (
    <div class="drawer-content flex transform flex-col transition-transform duration-300 ease-in-out">
      <main>
        <slot />
      </main>
    </div>
  )
}

<style>
  .drawer-side {
    top: 60px;
  }
</style>

<script is:inline define:vars={{ activeJs }}>
  function setupDrawer(activeJs) {
    if (!activeJs) return;
    const drawer = document.getElementById("drawer");
    const checkbox = document.getElementById("toggleMenu");

    function toggleSidebar(status) {
      drawer.classList.toggle("drawer-open", status);
    }

    checkbox.addEventListener("change", function (e) {
      toggleSidebar(e.target.checked);
    });
  }

  document.addEventListener("DOMContentLoaded", function () {
    setupDrawer(activeJs);
  });
</script>
