---
// import ThemeSwitch from "@components/ThemeSwitch.astro";
import ThemeSwitch from "@components/ThemeSwitch";
import { SignOut } from "@components/Utils";
import { getUser } from "@lib/auth";
import { getProfileInfo } from "@lib/db";
import {
  Boxes,
  LayoutGrid,
  MessageCircle,
  Package,
  Settings,
} from "lucide-react";

const token = Astro.cookies.has("sbat")
  ? Astro.cookies.get("sbat").value
  : null;

let profile = null;

if (token) {
  const { id } = await getUser(token);
  const user = await getProfileInfo(id);

  profile = {
    id: user.id,
    username: user.username.toLowerCase(),
    full_name: user.full_name,
    status: user.status,
    initials: user.full_name
      .split(" ")
      .map((n) => n[0])
      .join("")
      .toLocaleLowerCase(),
  };
}

let activeJs = false;
if (profile) {
  activeJs = true;
}

let activePath = Astro.url.pathname;
---

{
  profile ? (
    <div class="drawer " id="drawer">
      <input type="checkbox" class="drawer-toggle" id="sidebar" />
      <div class="drawer-content flex flex-col transition-transform duration-300 ease-in-out">
        <main>
          <slot />
        </main>
      </div>
      <div class="drawer-side">
        <label
          for="sidebar"
          aria-label="close sidebar"
          class="drawer-overlay"
        />
        <ul class="menu min-h-[calc(100vh-64px)] w-72 overflow-y-auto border-opacity-50 bg-base-200 px-4 font-sora text-base-content shadow-lg">
          <h2 class="menu-title flex items-center gap-4 px-1.5 font-syne text-lg ">
            General
          </h2>
          <div class="space-y-1">
            <li class="group">
              <a
                href="/home"
                class={`${
                  activePath === "/home"
                    ? "btn btn-disabled btn-primary  btn-wide m-0 items-center justify-start"
                    : "btn  btn-wide m-0 items-center justify-start font-normal group-hover:font-semibold"
                }`}
              >
                <LayoutGrid
                  className={
                    activePath === "/home"
                      ? ""
                      : "transition-colors group-hover:stroke-primary"
                  }
                />
                <span
                  class={
                    activePath === "/home" ? "" : "group-hover:brightness-125"
                  }
                >
                  Inicio
                </span>
              </a>
            </li>
            <li class="group">
              <a
                href="/explorar"
                class={`${
                  activePath === "/explorar"
                    ? "btn btn-disabled disabled btn-primary  btn-wide m-0 items-center justify-start"
                    : "btn  btn-wide m-0 items-center justify-start font-normal group-hover:font-semibold"
                }`}
              >
                <Boxes
                  className={
                    activePath === "/explorar"
                      ? ""
                      : "transition-colors group-hover:stroke-primary"
                  }
                />
                <span
                  class={`${
                    activePath === "/explorar"
                      ? ""
                      : "group-hover:brightness-125"
                  }`}
                >
                  Explorar Intercambios
                </span>
              </a>
            </li>
            <li class="group">
              <a
                href={`/u/${profile.username}`}
                class={`${
                  activePath === `/u/${profile.username}`
                    ? "btn btn-disabled btn-primary  btn-wide m-0 items-center justify-start"
                    : "btn  btn-wide m-0 items-center justify-start font-normal group-hover:font-semibold"
                }`}
              >
                <Package
                  className={`${
                    activePath === `/u/${profile.username}`
                      ? ""
                      : "transition-colors group-hover:stroke-primary"
                  }`}
                />
                <span
                  class={`${
                    activePath === `/u/${profile.username}`
                      ? ""
                      : "group-hover:brightness-125"
                  }`}
                >
                  Mis Articulos
                </span>
              </a>
            </li>
            <li class="group">
              <a
                href="/chats"
                class={`${
                  activePath === "/chats"
                    ? "btn btn-disabled btn-primary  btn-wide m-0 items-center justify-start"
                    : "btn  btn-wide m-0 items-center justify-start font-normal group-hover:font-semibold"
                }`}
              >
                <MessageCircle
                  className={
                    activePath === "/chats"
                      ? ""
                      : "transition-all group-hover:stroke-primary"
                  }
                />
                <span class="transition-all group-hover:brightness-125">
                  Mensajes
                </span>
              </a>
            </li>
          </div>
          <div class="divider" />
          <h2 class="menu-title flex items-center gap-4 px-1.5 font-syne text-lg ">
            Cuenta
          </h2>
          <ThemeSwitch client:load />
          <li class="group">
            <a class="btn  btn-wide m-0 items-center justify-start font-normal transition-colors group-hover:font-semibold">
              <Settings className="transition-all group-hover:stroke-primary" />
              <span class="transition-all group-hover:brightness-125">
                Configuración
              </span>
            </a>
          </li>
          <SignOut client:load />
          <div class="divider" />
          <div class="h-full">
            <li>
              <a href={`/user/${profile.username}`}>
                <div class="avatar placeholder">
                  <div class="flex h-10 w-10 items-center justify-center rounded-full  bg-primary text-white">
                    <span class="text-sm">{profile.initials}</span>
                  </div>
                  <span>
                    <div class="flex flex-col">
                      <p class="capitalize text-current brightness-200">
                        {profile.full_name}
                      </p>
                      <p class="capitalize text-neutral">@{profile.username}</p>
                    </div>
                  </span>
                </div>
              </a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  ) : (
    <div class="drawer-content flex transform flex-col transition-transform duration-300 ease-in-out">
      <main>
        <slot />
      </main>
    </div>
  )
}

<style>
  .drawer-side {
    top: 60px;
  }
</style>

<script is:inline define:vars={{ activeJs }}>
  function setupDrawer(activeJs) {
    if (!activeJs) return;
    const drawer = document.getElementById("drawer");
    const checkbox = document.getElementById("toggleMenu");

    function toggleSidebar(status) {
      drawer.classList.toggle("drawer-open", status);
    }

    checkbox.addEventListener("change", function (e) {
      toggleSidebar(e.target.checked);
    });
  }

  document.addEventListener("DOMContentLoaded", function () {
    setupDrawer(activeJs);
  });
</script>
